@import "colorstheme.css";

.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: fixed ! important;
  margin-top: -50px ;
}

.dropdown .dropdown-menu {
  display: none !important;
}

.dropdown:hover .dropdown-menu {
  display: flex !important;
}

.mega-menu {
  width: auto !important;
  padding: 20px;
  background-color: #fff;
  border-radius: 24px !important;
  border: none !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mega-menu-item {
  margin-bottom: 10px;
  flex-basis: 25%;
}

.mega-menu-item h6 {
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.mega-menu-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mega-menu-item ul li {
  margin-bottom: 10px;
}

.mega-menu-item ul li a {
  text-decoration: none;
  color: #337ab7;
}

.mega-menu-item ul li a:hover {
  color: #23527c;
}

.languageBtn{
margin-bottom: 0px !important;
padding: 0px !important;
}

.lang {
  border: 1px solid #196CDF;
  border-radius: 10px;

}

.langLogo {
  background-color: #196CDF;
  padding: 8px;
  border-radius: 0px 8px 8px 0px;
  margin-left: 24px;
}

.fas {
  color: #196CDF;
}